%vertical-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-shopping-basket-item {

  display: grid;
  grid-template-columns: 100px 1fr auto auto auto;
  gap: 16px;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0;

  &__img-box {
    img {
      width: 100%;
    }
  }

  &__detail {
    padding-top: 16px;
    @extend %vertical-align-center;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__shipmentdate {
    display: flex;
    align-items: center;
    font-size: 12px;

    color: var(--color-secondary-text);


  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    .quatity-form-field {
      width: 25px;

      input {
        text-align: center;
      }
    }
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-accent);
    @extend %vertical-align-center;
  }

  &__actions {
    @extend %vertical-align-center;
  }

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}
