<div class="app-my-shopping-basket">
  <div *ngIf="myAddedProducts && myAddedProducts.length === 0">
    <h3>Sepetinizde ürün bulunmamaktadır.</h3>
    <button mat-raised-button color="primary" (click)="onClickContinueToShopping()">Alışverişe Devam Et</button>
  </div>

  <div *ngIf="myAddedProducts && myAddedProducts.length > 0" class="app-my-shopping-basket__main">
    <app-shopping-basket (clickedContinueToShopping)="onClickContinueToShopping()"
      [shoppingBasketProductList]="myAddedProducts" (clickedAddOne)="addOneToProduct($event)"
      (clickedDeleteOne)="deleteOneToProduct($event)" (clickedClear)="clearProductFromList($event)">
    </app-shopping-basket>

  </div>

  <div *ngIf="myShoppingBasketSummary" class="app-my-shopping-basket__summary">
    <app-shopping-basket-summary [shoppingBasketSummary]="myShoppingBasketSummary"></app-shopping-basket-summary>
    <button mat-raised-button class="button" color="primary">Alışverişi Tamamla</button>
  </div>

</div>
